:root {
  --main-color: palevioletred;
}

body {
  background-color: #f9f7fe;
  font-family: sans-serif;
}

h1 {
  padding: 20px;
  text-align: center;
  color: var(--main-color);
}

footer {
  text-align: center;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

select {
  display: block;
  margin: 20px auto;
  width: 90%;
  border-radius: 10px;
  border: 1px solid var(--main-color);
}

.clock-app {
  background-color: white;
  display: block;
  margin: 20px auto;
  padding: 10px;
  border-radius: 6px;
  max-width: 500px;
  box-shadow: 0 0 6px rgba(000, 000, 000, 0.3);
}

.city {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px dashed pink;
  margin: 30px 20px;
}

.city h2 {
  font-size: 22px;
  margin: 0;
}

.city p {
  font-size: 12px;
  margin-top: 0;
  color: rgba(000, 000, 000, 0.6);
}

.time {
  font-size: 30px;
  font-weight: bold;
}

.time span {
  font-size: 16px;
  vertical-align: middle;
}
